html{
  background-color: lightgreen;
}
.App {
    
    .PokeList__container{
      background-color: lightgreen;
      text-align: center;
      list-style-type: none;
      display:flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .Pokemon__container{
        background-color: white;
        width:250px;
        height:350px;
        margin:40px;
          .photo{
            width:200px;
            height:200px;
          }
    }
    }
}

